<div ng-non-bindable="">
    <!-- begin vehicle summary -->
    <section class="col-xs-12 bg-white-light pdt10 pdb10 index-summary">
        <div class="col-xs-12 col-sm-6 text-center pdl0 pdr0">
            <div class="icon bg-grey" ng-bind-html="summaryIcons.device">
            </div>
            <div class="nb bold"><span>{{marker.details.id.value}}</span></div>
            <small>Device Id</small>
        </div>
        <div class="col-xs-12 col-sm-6 text-center">
            <div class="icon bg-black" ng-bind-html="summaryIcons.time">
            </div>
            <div class="nb bold">{{(marker.details.timestamp  | date:'MM/dd/yyyy hh:mm:ss') || "N/A"}}</div>
            <small>Time</small>
        </div>

        <div class="clearfix mb10"></div>

        <div class="col-xs-12 col-sm-4 text-center">
            <div class="icon bg-green" ng-bind-html="summaryIcons.TC">
            </div>
            <div class="nb bold">{{marker.details.TC.value || "N/A"}} Celsius </div>
            <small>Temperature</small>
        </div>

        <div class="col-xs-12 col-sm-4 text-center">
            <div class="icon bg-yellow" ng-bind-html="summaryIcons.BAT">
            </div>
            <div class="nb bold">{{marker.details.BAT.value || "N/A"}} %</div>
            <small>Battery</small>
        </div>
        <!--
        <div class="col-xs-12 col-sm-4 text-center">
            <div class="icon bg-purple" ng-bind-html="summaryIcons.PLV1">
            </div>
            <div class="nb bold">{{marker.details.PLV1.value || "N/A"}} mm/h</div>
            <small>Current hour accumulated rainfall</small>
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
            <div class="icon bg-purple" ng-bind-html="summaryIcons.PLV2">
            </div>
            <div class="nb bold">{{marker.details.PLV2.value || "N/A"}} mm/h</div>
            <small>Previous hour accumulated rainfall</small>
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
            <div class="icon bg-purple" ng-bind-html="summaryIcons.PLV3">
            </div>
            <div class="nb bold">{{marker.details.PLV3.value || "N/A"}} mm/h</div>
            <small>Last 24H accumulated rainfall</small>
        </div>-->
        <div class="col-xs-12 col-sm-4 text-center">
            <div class="icon bg-red" ng-bind-html="summaryIcons.SOIL2">
            </div>
            <div class="nb bold">{{marker.details.SOIL2.value || "N/A"}} Hz</div>
            <small>Soil moisture</small>
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
            <div class="icon bg-orange" ng-bind-html="summaryIcons.ANE">
            </div>
            <div class="nb bold">{{marker.details.ANE.value || "N/A"}} km/h</div>
            <small>Anemometer</small>

        </div>
        <!--<div class="col-xs-12 col-sm-4 text-center">
            <div class="icon bg-dark-grey" ng-bind-html="summaryIcons.STR">
            </div>
            <div class="nb bold">{{marker.details.STR.value || "N/A"}} </div>
            <small>Wind direction </small>
        </div>

        <div class="col-xs-12 col-sm-4 text-center">
            <div class="icon bg-blue" ng-bind-html="summaryIcons.PRES">
            </div>
            <div class="nb bold">{{marker.details.PRES.value || "N/A"}} Pascal</div>
            <small>Pressure</small>
        </div>-->

        <div class="col-xs-12 col-sm-4 text-center">
            <div class="icon bg-purple" ng-bind-html="summaryIcons.HUM">
            </div>
            <div class="nb bold">{{marker.details.HUM.value || "N/A"}} %</div>
            <small>Humidity</small>
        </div>
    </section>

    <a type="button" href="#/dashboard/deviceId/{{marker.details.id.value}}" class="btn btn-default mt15">View
        Dashboard</a>
</div>